body
{
	background-color: #EEEEEE;
}

h1
{
	margin: 0em 1em 0em 0em;
	font-size: 3.5em;
	font-family: 'Trebuchet MS','Verdana', 'Helvetica';
	color: #000000;
}

h2
{
	margin: 1em 0em 0em 0em;
	font-size: 1.5em;
	font-family: 'Trebuchet MS','Verdana', 'Helvetica';
	color: #000000;
}

h3
{
	margin: 1em 0em 0em 0em;
	font-size: 1em;
	font-family: 'Trebuchet MS','Verdana', 'Helvetica';
	color: #000000;
}

p
{
	color: #000000;
	margin: 0em;
	font-family: 'Trebuchet MS','Verdana', 'Helvetica';
}

span
{
	color: #000000;
	font-family: 'Trebuchet MS','Verdana', 'Helvetica';
}

a
{
	text-decoration: none;
	font-family: inherit;
	color: inherit;
}

hr
{
	background-color: #CCCCCC;
	height: .3em;
	width: 100%;
}

button
{
	padding: .5em 2em;
	font-family: 'Trebuchet MS','Verdana', 'Helvetica';
	font-size: .8em;
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
	border: 1px solid #CCCCCC;
	-moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    -khtml-border-radius: .5em;
    border-radius: .5em;
}
button:hover
{
	color: #555555;
}
button:active
{
	background: -moz-linear-gradient(top, #DBDBDB 0, #F0F0F0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DBDBDB), color-stop(100%, #F0F0F0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F0F0F0', GradientType=0);
}

.alignleft
{
	float:left;
}

.alignright
{
	float:right;
}

.hide
{
	display:none;
}

.spaced
{
	margin-left: 4em;
}

div.clear
{
	clear: both;
}

div.container
{
	margin: 1em;
}

div.top
{
}

div.body
{
}

#mainContainer
{
	width: 40em;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px #888888;
}

#frontPage_header,#frontPage_step1,#frontPage_step2,#frontPage_step3 
{
	padding: 0em 1em 0em 1em;
	-moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    border-radius: .3em;
}

#step1_info
{
	width: 12em;
	padding: 1em;
}

#step1_register
{
	width: 20em;
}

#register
{
	float: left;
	width: 100%;
}
#register div
{
	margin: .1em;
}
#register_submit
{
	margin-left: 30%;
	margin-right: auto;
}

#step2_info
{
	width: 12em;
	padding: 1em;
}
#step2_instructions
{
	width: 20em;
}
#instructions_display
{
	margin-left: 30%;
	margin-right: auto;
}

#step3_info
{
	width: 10em;
	padding: 1em;
}
#step3_createTask
{
	width: 22em;
}
input#title
{
	width: 10em;
}
input#expiration
{
	width: 4em;
}
textarea#description
{
	width: 21.9em;
	height: 8em;
}

#createTask
{
	float: left;
	width: 100%;
}
#createTask div
{
	margin: .1em;
}
#createTask_submit
{
	margin-left: 40%;
	margin-right: auto;
}

div.formComfirmationImg
{
	height: 16px;
	width: 16px;
}
div.formInstructionImg
{
	height: 985px;
	width: 590px;
}
div.formInstructionImg.first
{
	background-image: url('../images/Flow_diagram_of_Cox.png');
}
div.formComfirmationImg.wrong
{
	background-image: url('../images/form_wrong.png');
}
div.formComfirmationImg.check
{
	background-image: url('../images/form_check.png');
}
div.formComfirmationImg.exist
{
	background-image: url('../images/form_name_exist.png');
}

textarea#participants
{
	width:30em;
	height:1.5em;
}
button#addParticipant
{
}
select#emailSelect
{
	width:30em;
	height:8em;
}
